<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

  <h2>All reviews</h2>
  <ul class="list-group">
    <%= render @product.comments %>
  </ul>
  

  <% if current_user %>
    <h2>Add a review:</h2>
    <%= form_for [@product, @comment] do |form| %>
      <p>
        <%= form.text_area :body, class: "form-control" %> </br>
        <%= form.label :Rate_this_product_out_of_5%>
        <%= form.number_field :rating, :max => 5, :min => 0 %>
      </p>
      <p>
        <%= form.submit :value => 'Submit', class: "btn btn-success" %>
      </p>
    <% end %>
  <% end %>
</section>
